.offers-header {
  color: #fff;
  transition: background-color 0.3s ease;
  padding-top: 12px;
  padding-bottom: 11px;

  &.dark-mode {
    background-color: var(--color-background-dark);
    transition: background-color 0.3s ease;
  }

  .search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-container {
    display: flex;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    transition: background-color 0.3s ease;
    width: 65%;

    .search-input {
      font-size: 16px;
      width: 50%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      transition: background-color 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

      .search-input-label{
        color: black;
        font-weight: bold;
        padding-left: 10px;
      }
      &.dark-mode{
        background-color: #747b7e;
        transition: background-color 0.3s ease;
      }
      & .MuiOutlinedInput-notchedOutline{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
    }

    .autocomplete-province {
      width: 50%;
      transition: background-color, border, color 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0px 4px rgba(0, 0, 0, 0.06);
      
      .autocomplete-province-label-light{
        font-weight: bold;
        color: #999999;
      }
      .autocomplete-province-label-dark{
        color: #434749;
        font-weight: bold;
      }
      &.dark-mode {
        background-color: #747b7e;
        transition: background-color 0.3s ease;
      }
      & .MuiOutlinedInput-notchedOutline{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .search-button {
      padding: 15px;
      border-left: none;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0px 4px rgba(0, 0, 0, 0.06);
      
      &.dark-mode {
        background-color: #2a2e2f;
      }
    }
  }

    
  .tune-button{
    border: 1px solid gray;
    border-radius: 28px;
    margin: 0px 20px 0px 20px;
    transition: background-color, border, color 0.3s ease;
    
    &.small-screen{
      border: none;
      margin: 0px;
    }
    &.dark-mode {
      color: #aeb6bb;
    }
  }
  .tune-button:hover{
    color: black;
    transition: 0.3s;

    &.dark-mode{
      color: white;
    }
  }

  .tune-button-icon{
    margin: 0px 2px 0px 5px;
  }

  .tune-button-label{
    font-size: 15px;
    margin: 0px 7px 0px 5px;
    font-weight: bold;
  }
    .dot {
      height: 45px;
      width: 45px;
      background-color: rgb(114, 114, 114);
      border-radius: 50%;
      margin: 0px 15px 0px 15px;
      display: inline-block;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }

  @media screen and (max-width: 1200px) {
    .search-filter{
      width: 100%;
    }
    .search-container {
        margin-left: 3px;
        margin-right: 0px;
        width: 100%;
    }
    .tune-button{
      box-shadow: none;
    }
  
    .tune-button:hover{
        border: 0; 
        color: initial;

      &.dark-mode {
          border: 0; 
          color: initial;
        }
      }
  }
}
